name: Core API - Sync Apidog Documentation

on:
  push:
    branches:
      - main
      - dev
    paths:
      - "core-api/**"
      - ".github/workflows/apidog-sync.yml"

jobs:
  sync-docs:
    name: Generate & Sync Swagger to Apidog
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Sync API Doc to Apidog
        working-directory: ./core-api
        env:
          TARGET_APIDOG_BRANCH: ${{ github.ref_name }}
        run: |

          if [ "$TARGET_APIDOG_BRANCH" == "main" ]; then
            TARGET_APIDOG_BRANCH=1126584
          else
            TARGET_APIDOG_BRANCH=1126805
          fi

          # swagger.json 파일을 읽어서 JSON 문자열로 변환
          SWAGGER_CONTENT=$(cat swagger.json | jq -c .)

          # swagger-admin.json 파일을 읽어서 JSON 문자열로 변환
          SWAGGER_ADMIN_CONTENT=$(cat swagger-admin.json | jq -c .)

          # JSON body 생성
          JSON_BODY=$(jq -n \
            --arg input "$SWAGGER_CONTENT" \
            --arg branch "$TARGET_APIDOG_BRANCH" \
            '{
              input: $input,
              options: {
                endpointOverwriteBehavior: "OVERWRITE_EXISTING",
                schemaOverwriteBehavior: "OVERWRITE_EXISTING",
                updateFolderOfChangedEndpoint: false,
                prependBasePath: false,
                targetEndpointFolderId: 5689113,
                targetBranchId: $branch
              }
            }')

          JSON_BODY_ADMIN=$(jq -n \
            --arg input "$SWAGGER_ADMIN_CONTENT" \
            --arg branch "$TARGET_APIDOG_BRANCH" \
            '{
              input: $input,
              options: {
                endpointOverwriteBehavior: "OVERWRITE_EXISTING",
                schemaOverwriteBehavior: "OVERWRITE_EXISTING",
                updateFolderOfChangedEndpoint: false,
                prependBasePath: false,
                targetEndpointFolderId: 5689111,
                targetBranchId: $branch
              }
            }')

          # https://openapi.apidog.io/import-openapiswagger-data-7312738e0 해당 문서 참고
          curl -v --location --request POST "https://api.apidog.com/v1/projects/1134504/import-openapi" \
          --header "X-Apidog-Api-Version: 2024-03-28" \
          --header "Authorization: Bearer APS-GSvqfuLyf5RfQBrM037WWlm7PEeU5Thi" \
          --header "Content-Type: application/json" \
          --data-raw "$JSON_BODY"

          curl -v --location --request POST "https://api.apidog.com/v1/projects/1134504/import-openapi" \
          --header "X-Apidog-Api-Version: 2024-03-28" \
          --header "Authorization: Bearer APS-GSvqfuLyf5RfQBrM037WWlm7PEeU5Thi" \
          --header "Content-Type: application/json" \
          --data-raw "$JSON_BODY_ADMIN"
