name: Deploy to EC2

on:
  push:
    branches:
      - main
    paths:
      - "core-api/**"
      - ".github/workflows/ci-cd.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH Remote Commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            # 1. 프로젝트 폴더로 이동 (폴더명 수정 필수!)
            cd /home/ubuntu/stellar/core-api

            # 2. 최신 코드 가져오기
            git pull origin main

            # 3. 의존성 설치 (새로운 패키지가 있을 수 있으니)
            npm install

            # 4. 빌드 및 무중단 재시작 (아까 만든 스크립트 활용)
            npm run deploy
